<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Animations Example</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <style>
    .animate-repeat.ng-enter {
      opacity: 0;
      transform: translateY(-20px);
    }
    .animate-repeat.ng-enter-active {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.8s;
    }
    .animate-repeat.ng-leave {
      opacity: 1;
      transform: translateY(0);
    }
    .animate-repeat.ng-leave-active {
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.8s;
    }
  </style>
</head>
<body>
<div ng-app="taskApp" ng-controller="taskCtrl" class="w3-container">
  <h2 class="w3-text-blue">Animated Task List</h2>
  <input class="w3-input w3-border w3-margin-bottom" ng-model="newTask" placeholder="Add a task">
  <button class="w3-button w3-blue" ng-click="addTask()">Add Task</button>
  <ul class="w3-ul w3-card-4 w3-margin-top">
    <li ng-repeat="t in tasks" class="animate-repeat w3-display-container">
      {{ t.name }}
      <button class="w3-button w3-red w3-small w3-display-right" ng-click="removeTask($index)">Remove</button>
    </li>
  </ul>
</div>
<script>
angular.module('taskApp', ['ngAnimate'])
.controller('taskCtrl', function($scope) {
  $scope.tasks = [
    { name: "Design logo" },
    { name: "Setup database" }
  ];
  $scope.addTask = function() {
    if ($scope.newTask) {
      $scope.tasks.push({ name: $scope.newTask });
      $scope.newTask = "";
    }
  };
  $scope.removeTask = function(index) {
    $scope.tasks.splice(index, 1);
  };
});
</script>
</body>
</html>